$header-text: white;
$background-color: linear-gradient(180deg, black, rgb(70, 70, 70));


#background-img {
    background-image: url('../../images/movie_wallpaper.jpg');
    margin: 0;
    padding: 0;
    border: none;
    min-height: 950px;
}

#background-color {
    background: $background-color;
    margin: 0;
    padding: 0;
    border: none;
    min-height: 950px;
    height: auto;
}

a.nav-link {
    margin-right: 10px;
}

.btn-logout {
    margin-left: 5px;
}

#row{
    background-color: rgb(0,0,0,0);
    margin: 0;
    padding: 0;
}

.navbar-brand h1 {
    font-family: 'Shizuru', cursive;
    color: white;
}

@media only screen and (max-width: 575px) {
    a.nav-link {
        margin-right: 0;
    }
    
    .btn-logout {
        margin-left: 0;
    }
}

