$header-text: white;
$background-color: linear-gradient(180deg, black, rgb(70, 70, 70));


#background-img {
    background-image: url('../../images/movie_wallpaper.jpg');
    margin: 0;
    padding: 0;
    border: none;
    min-height: 950px;
}

#background-color {
    background: $background-color;
    margin: 0;
    padding: 0;
    border: none;
    min-height: 950px;
    height: auto;
}

#row{
    background-color: rgb(0,0,0,0);
    margin: 0;
    padding: 0;
}

nav {
    // margin: 0;
    // max-height: 70px;
}

// nav .nav-container {
//     margin: 0 0 15px 0;
//     height: 50px;
// }

nav ul {
    list-style: none;
}

.navbar-brand h1 {
    // margin: 0;
    font-family: 'Shizuru', cursive;
    // font-size: 2em;
    color: white;
}

// .nav-links {
//     display: inline-flex;
//     flex-direction: row;
// }

// ul li {
//     margin: 0 10px;
// }



