$header-text: white;
$background-color: linear-gradient(180deg, black, rgb(61, 61, 61));
$header-bg: rgb(0,0,0);

html {
    margin: 0;
    padding: 0;
    background: $background-color;
}

nav h1 {
    display: inline-flex;
}

.nav-items {
    display: inline-flex;
    float: right;
    margin: 25px 25px;
    list-style-type: none;

}

img {
    display: block;
    width: 340px;
    height: auto;
}

.movie-view {
    color: white;
}

.movie-view-container-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0 0 0;
}

.label {
    font-style: italic;
}

.genre-btn-margin {
    margin-right: 10px;
}

.director-btn-margin {
    margin-right: 10px;
}

.back-btn {
    width: 200px;
    margin-top: 10px;
}

.back-btn-container {
    text-align: center;
}

.favorites-img-btn {
    width: 340px;
    margin-top: 10px;
}

.movie-item-1 {
    margin: 0 30px;
}

.movie-item-2 {
    text-align: left;
    width: 400px;
    height: auto;
    margin: 0 30px;
}

.movie-item-2 ul {
    padding: 0;
    list-style-type: none;
}

.movie-item-2 h1 {
    font-size: 18pt !important;
}

.movie-item-2 h2 {
    font-size: 14;
}