$color: rgb(21, 53, 78);

header {
    margin: 0;
    background: none;
    height: 100px;
    width: 100%;
}

.app-container {
    margin: 0;
}

.movie-card {
    cursor: pointer;
}

.movie-card:hover {
    color: green;
}

img {
    height: auto;
    width: 300px;
}

div {
    margin: 12px 0px 12px 0px;
}